<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <i class="fa fa-leaf" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
                {{ cart.totalItemsCount }}
              </span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>

          <li *ngIf="appUser; else anonymousUser" class="nav-item dropdown" dropdown>
            <a id="dropdown01" role="button" dropdownToggle class="nav-link dropdown-toggle" aria-controls="dropdown">
              {{ appUser.name }}
              <span class="caret"></span>
           </a>
            <ul id="dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="dropdown01">
              <li role="menuitem">
                <a class="dropdown-item" routerLink="/my/orders">
                  My Orders
                </a>
              </li>

              <ng-container *ngIf="appUser.isAdmin">
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/admin/orders">
                    Manage Orders
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="/admin/products">
                    Manage Products
                  </a>
                </li>
              </ng-container>

              <li role="menuitem">
                <a class="dropdown-item" (click)="logout()">
                  Log Out
                </a>
              </li>
              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>